@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", serif;
}

body{
    color: #000000;
    background-color:  #ffffff;
    padding-bottom: 60px;
}

header{
    padding: 80px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    
}

main{
    padding: 50px;
    line-height: 1.8;
    text-align: justify;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.container section {
    width: 20%;
    box-shadow: 2px 2px 2px 1px rgba(201, 42, 233, 0.438);
    color: #000000;
    padding: 15px;
    border-radius: 8px;
}

.container section h2 {
    text-align: center;
    margin-bottom: 15px;
    
}

.container section p{
    text-align: center
}

.container section ul {
    list-style-type: none;
}

.container section ul li{
    text-align: center;

}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
